{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron jumbotron-fluid" style= "background-color: black; opacity: .4;" >
      <div class="container">
        <h1 class="display-4"></h1>
        <p class="lead">Illinois School Data API is a rest-based web service. That allows the display of data from the Illinois Report Card Data Library .</p>
      </div>
    </div>

    <!-- Collapsable Resource Info -->
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Available Methods
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body" style="background-color: rgba(30, 31, 95, 0.555);">
            <div class="row">
              <div class="column">
                <p> GET/schools </p>
                <p>GET/schools/&lt;rctds code&gt;</p>
              </div>
              <div class="column">
                <p>- Retrieves all schools </p>
                <p>- Retreives a school by it's  <a href="https://www.isbe.net/Pages/RCDTS-Lookup.aspx">RTCDS number</a> </p>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Example
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body" style="background-color: rgba(30, 31, 95, 0.555);">
            <img src="../static/images/getschools.png" style="height: auto; width: 100%;">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Using the API Key
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body" style="background-color: rgba(30, 31, 95, 0.555);">
              In order to gain access to the API users must register and request an API Token. Tokens are valid for up to one hour after request and then each request must be renewed. To retrieve your token <a href="{{ url_for('register') }}">register</a> for the site. 
          </div>
        </div>
      </div>
    </div>

  </div>


 {% endblock content %}