<head>
<link href="../static/css/cover.css" rel="stylesheet">
</head>

{% extends 'base.html' %}

{% block content %}
<body class="text-center">


      <main role="main" class="inner cover">
        <h1 class="cover-heading">Illinois School Data</h1>
        <p class="lead">The Illinois School Data Tool captures data from the <a href="https://www.isbe.net/pages/illinois-state-report-card-data.aspx">Illinois Data Library</a> and formats it into a RESTful API.</p>
        <p class="lead">
          <a href="{{url_for('register') }}" >Register</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Chicago Codes Project by <a href="https://github.com/Terlam">Terrell</a>, add me on <a href="https://linkedin.com/in/terrellmckinney">LinkedIn</a>.</p>
        </div>
      </footer>
    </div>

{% endblock content %}
