<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">IL School Data</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
          <a class="nav-link active" href="{{ url_for('register') }}">Register</a>
          <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </nav>
      </div>
    </header>
